{% extends 'base.html' %}
{% load static %}
{% block head %}소개{% endblock %}
{% block content %}
{% block body %}
<br>
<h1 align="center">소개</h1>
<hr style="border:solid 2px purple;">
<br>
<h3 align="center">저희조는 ~~~~ AI~~~~ 입니다.</h3>
<hr style="border:solid 2px purple;">
<br>
<hr style="border:solid 2px purple;">
<div style="display: flex; justify-content: center;">
             <button type="button" onclick="location.href='{% url 'home' %}' ">홈으로</button>
        </div>
<br>
{% endblock body %}
{% endblock %}