{% extends 'base_accounts.html' %}

{% block title %}
  {% if validlink %}
    Change password for {{ form.user.username }}
  {% else %}
    Reset your password
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">비밀번호 재설정 @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">비밀번호 바꾸기</button>
            </form>
          {% else %}
            <h3 class="card-title">비밀번호 재설정</h3>
            <div class="alert alert-danger" role="alert">
              잘못된 비밀번호 재설정 링크를 클릭하신 것 같습니다. 다시 시도해 주세요.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">새 비밀번호 재설정 링크 요청</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}