{% extends 'base_accounts.html' %}
{% block title %}회원가입 하기{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center logo my-4">
<!--      <a href="{% url 'home' %}">환영합니다</a>-->
      <a>SignUp</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">회원가입</h3>
            <form method="post" novalidate>
              {% csrf_token %}
<!--              {{ form.as_p }}-->
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">계정 생성</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            이미 계정을 가지고 있으신가요? <a href="{% url 'login' %}">로그인 하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
{% endblock %}